<table mat-table [dataSource]="users" class="mat-elevation-z8" >
    
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name.first}}</td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let element"> {{element.name.last}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>    

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> Date of birth </th>
    <td mat-cell *matCellDef="let element"> {{element.dob.date | date:'yyyy-MM-dd'}} </td>
  </ng-container>
    
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.dob.age}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="addToSelected(element)">
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>

</table>
<app-select [selectedUsers]="selectedUsers"></app-select>


